/* :root { 
    --md-typeset-font-size: 0.80rem;
} */

.md-typeset table:not([class]) {
    font-size: 0.70rem !important;
}

p {
  font-size: 0.80rem;
  line-height: 2.0;
}

li {
    font-size: 0.80rem;
}

.code {
    font-size: 0.80rem;
}